.crumbs{

	width: 100%;
	display: flex;
	align-items: center;
	padding: 30px 0;
	z-index: 99;

}


.crumbs ul{

	display: flex;
	align-items: center;
	list-style:none;
	z-index: 99;
	flex-wrap: wrap;
	padding: 0;

}

.crumbs ul li{

	width: auto;
	height: auto;
	margin-right: 5px;
	display: flex;
	align-items: center;

}

.crumbs ul li::after, .webp .crumbs ul li::after{

	display: block;
	content: "";
	width: 7px;
	height: 12px;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 3px;
	background: url('../img/icons/crumbs-arrow.png')no-repeat;

}

.webp .crumbs ul li::after{

	background: url('../img/icons/webp/crumbs-arrow.webp')no-repeat;

}

.crumbs ul li:last-child::after, .webp .crumbs ul li:last-child::after{

	display: none;

}


.crumbs ul li.active::after{

	display: none;

}

.crumbs ul li a{

	color: var(--text-color);
	font-family: var(--def-font);
	font-size: 14px;
	font-weight: 300;


}


.crumbs ul li:first-child a{

	color: var(--dark-smoothy-grey);
	

}





.crumbs ul li.active a{

	color: var(--text-color);
	
}

.crumbs ul li:hover a{

	color: var(--text-color);
	
}
