

.footer{

	width: 100%;
	margin-top: 160px;
	background-color: var(--nata-dark);	


}


.footer__wrapper{

	width: 100%;
	display: flex;
	min-height: 216px;
	justify-content: space-between;
	align-items: center;


}

