@media (max-width: 1680px) {

    :root{

        --container: 1170px;
        
    }

    .container{

        width: 1170px;

    }

}


@media (max-width: 1160px) {

	





}





@media (max-width: 980px) {









}

@media (max-width: 480px) {



}





@media (max-width: 330px) {











}